@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-color: #000;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.todo-form {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.todo-input {
  flex-grow: 1;
  padding: 11px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.todo-button {
  margin-left: 16px;
  padding: 10px 30px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.todo-button:hover {
  background-color: #0056b3;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
}

.filter-button {
  padding: 10px 16px;
  margin-right: 10px;
  font-size: 15px;
  background-color: #a9a9a9;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .30s ease;
}

.filter-button:active,
.filter-button:focus {
  background-color: #007bff;
}

.todo-list {
  width: auto;
  display: grid;
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 15px;
  
}

.item-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
}

.todo-item:hover {
  cursor: default;
}

.todo-item .completed {
  text-decoration: line-through;
}

.edit-button,
.delete-button {
  width: 30px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  position: absolute;
}

.edit-button {
  right: 48px;
  background-color: #a9a9a9;
}

.edit-button:hover {
  background-color: #009E60;
}

.delete-button {
  right: 10px;
  background-color: #a9a9a9;
}

.delete-button:hover {
  background-color: #D22B2B;
}

.save-input {
  padding: 1.5px;
  font-size: 16px; 
  background-color: #f4f4f4;
  border: 2px solid grey; 
  border-radius: 5px; 
  margin-right: 10px;
  width: 100%;
}

.save-button {
  margin-right: -8px;
  width: 75px;
  padding: 4.5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #0056b3;
}